.Profile {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  padding: 20px;
  text-align: center;
  background: rgb(212, 211, 211);
}
.Description {
  padding: 20px;
  margin: 0;
  background: rgb(255, 254, 254);
  font-weight: 500;
}
.Avatar {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
.Name {
  font-weight: 700;
  font-size: 20px;
  color: rgb(66, 25, 25);
}
.Tag {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(180, 180, 180);
}
.Location {
  margin-top: 10px;
  color: rgb(180, 180, 180);
}

.Stats {
  display: flex;
  height: 60px;
  padding: 10px;
  justify-content: space-evenly;
  text-align: center;
  background: rgba(255, 249, 249, 0.637);
}
.Label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 15px;
  color: rgb(160, 159, 159);
}
.Quantity {
  font-weight: 700;
  color: rgb(66, 25, 25);
}
